#detailed_news{
    width:60%;
    height:500px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 10px 0px 10px;
    border-radius: 15px;
}

#image{
    width:400px;
    height:300px;
}

